.project-layer {
    background-color: #EEEEEE;
    /*height: 600px;*/
    color: black;
}

.project-box {
    border-color: black 10px solid;
    color: black;
    padding: 20px;
}

.project-box-item {
    border-color: black 10px solid;
    color: black;
    /*padding: 20px;*/
    background-color: black;
    width: 100%;
    height: 500px;
    cursor: pointer;
}

.project-box-bottom {
    padding-top: 20px;
    font-size: 22px;
    border-color: black 10px solid;
    color: black;
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 20 60px;

}

.project-label {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    /*background-color: white !important;*/
}



/* Buttons */
.viewBtn {
    margin: 0 auto !important;
    margin-top: 20px;
    color: white !important;
    height: 60px;
    width: 120px;
    border: white 1px solid;
    border-radius: 10px;
    background-color: #E66373;
    text-align: center;
}
.viewBtn:hover {
  background-color: white;
  color: #E66373 !important;
  border: #E66373 solid 5px;
}
.viewBtn a{
  font-size: 20px;
  text-decoration: none;
}

.view-strong {
  font-size: 30px;
}
