html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: #EBEBEB!important;
    background-color: #282C43 !important;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

h1, h3 {
    color: white;
}

h1 {
    font-size: 26px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
}


/* unvisited link */


/*a:link {
    color: white;
}*/


/* visited link */

a:visited {
    color: white;
}


/* mouse over link */

a:hover {
    color: black;
    color: #282C43 !important;
}


/* selected link */

a:active {
    color: #282C43 !important;
}

#logo {
    margin: 0 auto !important;
    width: 105px;
    height: 80px;
}

.resume-button {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: 400 !important;
    text-decoration: none !important;
}

#resume {
    margin: 0 auto !important;
    background-color: #282C43 !important;
    color: white !important;
    padding: 15px 22px;
    border: white 1px solid;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
}

#resume:hover {
    background-color: white !important;
    color: #282C43 !important;
}

.landing-text{
  font-size: 26px;
  font-family: 'Montserrat';
  padding-top: 100px; text-align: center; margin: 0 auto !important;
  color: white;
}

.landing-page {
  background: url(images/bg.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-image: url('../../public/img/landing-page.png');
/*background-attachment: fixed !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover;
height: 100%;*/

    /*background-image: url('../../landing-page-v2.jpg');*/
    /*1000px auto;*/
    /*width: 100%;*/
    height: 1000px;
    /*margin-bottom: 500px;*/
}

.white-container {
    color: black;
}


/*Cartoon*/

.cartoon {
    /*background-color: #282C43 !important;*/
    width: 60%;
    margin: 0 auto;
    background-color: #282C43 !important;
}

.cartoonContainer {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.cartoon-img {
    display: inline-block;
    height: 300px;
    weight: 300px;
    width: auto;
}

#leftBox {
    text-align: left;
    font-weight: lighter;
}

#middleBox {
    padding: 10px 20px;
    padding-bottom: 80px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: white;
}

#bottomBox {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 10px;
    /*background-color: #EEEEEE;*/
}

.middle-layer {
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 80px;
    /*background-color: #282C43;*/
}

.skills-layer {
    width: 100%;
    margin: 0 auto;
}


/* Skill Boxes */

.icon {
    width: 200px;
    height: 200px;
}

.skill-label {
    padding-top: 20px;
    padding-bottom: 20px;
    /*font-weight: bold;*/
    font-size: 18px;
}

.skills-box {
    display: inline-block;
    width: 40%;
    border: white 0.1em solid;
    padding: 10px 20px;
}

.skills-box-lower-container {
    display: block;
    width: 50%;
    padding: 10px 20px;
}

.skills-box-lower {
    display: inline-block !important;
    width: 30%;
    padding: 10px 20px;
}

/* Overwrite Bootstrap */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


.navbar-clear{
    /*background-color: #B58D1D;*/
    /*opacity: 0.1;*/
    /*background-image: url('../../landing-page.png');*/
    background-size: 100% 1000px;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    overflow: hidden;
    border: none !important;
}

.navbar-default{
  background-color: rgba(0,0,0,0)!important;
}


/* Buttons */
